<template>
    <div>
        <h1 class="text-90 font-normal text-2xl mb-6">{{groupTitle}}</h1>
        <div class="card">
            <table class="w-full table mb-6 py-3 px-6 ">
                <thead>
                <tr>
                    <th v-for="column in data.columns">{{column}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in data.data">
                    <td v-for="field in row" class="text-center">
                        {{field}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['resourceName', 'resourceId', 'panel'],
        data () {
            return {
                data: []
            }
        },
        mounted () {
            this.fetchData()
        },
        computed: {
            model () {
                return this.panel.fields[0]['model']
            },
            groupBy () {
                return this.panel.fields[0]['group_by']
            },
            selectColumns () {
                return this.panel.fields[0]['select_columns']
            },
            usingWhere () {
                return this.panel.fields[0]['using_where']
            },
            groupTitle () {
                return this.panel.fields[0]['title']
            }
        },
        methods: {
            async fetchData () {
                const { data } = await Nova.request().post('/nova-vendor/grouped-view/get-grouped-data', {
                    model: this.model,
                    group_by: this.groupBy,
                    select_columns: this.selectColumns,
                    resource_id: this.resource_id,
                    using_where: this.usingWhere
                })
                this.data = data
            }
        }
    }
</script>
